@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border text-base m-0 p-0;
  font-family: Roboto, sans-serif; 
}

html {
  @apply w-[399vw] lg:w-full
}

header {
  @apply px-0 py-[70px] lg:py-[15px] bg-[#FFF159];
}

li {
  @apply cursor-pointer list-none;
}

ul {
  @apply flex gap-[9px];
}

img {
  @apply max-w-full;
}
.flex-header {
  @apply flex justify-center lg:gap-[90px];
}
.flex-header-p1 {
  @apply flex h-[150px] pb-[50px] lg:pb-0 lg:h-1/2 lg:gap-10 items-center ml-[85px] lg:ml-0;
}

.flex-header-p1-mobile {
  @apply flex gap-10 items-center;
}

.flex-header-p2 {
  @apply hidden lg:flex lg:items-end;
 
}
.general-configuration-mobile {
  @apply hidden;
}

.gap-items-header {
  @apply hidden lg:gap-[15px] lg:flex-col lg:flex;
}

.gap-items-header-input {
  @apply gap-[15px] flex-col flex;
}

.gap-items-header-mobile {
  @apply lg:hidden mr-[20px] h-[156px] mt-[119px];
}

.nav-bar-mobile {
  @apply lg:hidden mr-[20px] w-[143px] h-[156px] mt-[76px] ml-10;
}

.icon-car-mobile {
  @apply lg:hidden w-[78px] h-[80px] mt-[69px] mr-[233px];
}

.input-header-height {
  @apply h-[45px];
}
.form-f {
  @apply flex;
}
.input-header {
  @apply border h-[131px] w-[200vw] lg:h-[39px] lg:w-[598px] rounded-[3px] border-solid border-[white] text-[72px] lg:text-[14px];
}
::placeholder {
  @apply text-[#BFBFBF] pl-3;
}
.button-banner {
  @apply shadow-[0px_0px_0px_1px_rgba(0,0,0,0.25)] cursor-pointer w-[7px] h-[7px] bg-[#B05537] rounded-[3px] border-[white];
}

.selected-button {
  @apply bg-[white];
}
.categories,
icon-category > li {
  @apply hidden lg:text-[#857F42];
}
.icon-category {
  @apply flex gap-1 items-center;
}
.icon-category > li::after {
  @apply content-[url("/resources/icons/category.svg")] ml-[3px];
}
.section-1 {
  @apply flex flex-col items-center;
}
.section-2 {
  @apply bg-[#EDEDED] flex flex-col gap-10 pt-[50px] pb-[25px];
}
.section-3 {
  @apply bg-[#EBEBEB] flex flex-col gap-10 py-[25px];
}
.cursor-p {
  @apply cursor-pointer;
}

.button-banner-all {
  @apply absolute w-full flex justify-center gap-[5px] bottom-3;
}
.position-banner {
  @apply relative flex;
}
.img1-property-mobile {
  @apply w-[3000px] lg:w-full;
}
.div-section-p {
  @apply flex justify-between bg-[white] rounded mx-[164px] my-0 p-5 flex-col lg:flex-row;
}
.div-section-p-2 {
  @apply flex flex-col bg-[#EDEDED] gap-[15px] mx-[164px] my-0;
}
.flex-v-c {
  @apply flex items-center gap-2 h-[349px] lg:h-1/2;
}
.settings-mobile-img-section-2 {
  @apply w-[261px] lg:w-auto pt-10 lg:pt-0;
}
.internal-flex {
  @apply flex flex-col gap-1 pt-[50px] lg:pt-0;
}
.settings-mobile-section2 {
  @apply text-[70px] lg:text-[16px]  pl-10 lg:pt-0 lg:pl-0 leading-[90px] lg:leading-none;
}

.settings-mobile-section3 {
  @apply text-[90px] lg:text-[16px]  pl-10 lg:pt-0 lg:pl-0 leading-[90px] lg:leading-none;
}
.internal-flex > a {
  @apply text-[55px] lg:text-xs text-blue-700 font-bold;
}

.title-div {
  @apply flex gap-4 items-end mt-[53px] mb-[56px] lg:mt-auto lg:mb-auto;
}
.leading-default-property {
  @apply leading-[70px] lg:leading-none text-[70px] lg:text-xl pt-10 lg:pt-2;
}
.title-div-style{
  @apply text-[70px] lg:text-[16px];
}
.title-div > a {
  @apply text-[55px] lg:text-xs  text-blue-700;
}
.title-div > div {
  @apply text-[70px] lg:text-xl text-[#666666];
}
.card {
  @apply bg-[white] rounded flex flex-col gap-[3px];
}
.card-group {
  @apply flex justify-between gap-[15px];
}
.alone-img-style {
  @apply lg:w-[47px]
}
.send-free {
  @apply text-[#00A650] font-[bolder] lg:text-[10px] text-[60px] leading-[80px] lg:leading-none font-bold;
}
.price-information {
  @apply flex gap-1.5 items-center h-[227px] lg:h-auto;
}
.price-information-full {
  @apply mt-[51px] lg:mt-0;
}
.full-style {
  @apply mt-[51px] lg:mt-auto w-[167px] lg:w-auto ml-[13px] lg:ml-auto;
}
.card-header-space {
  @apply mb-[42px];
}
.card > img {
  @apply mb-2 px-2 py-0 border-b-[#EBEBEB] border-b border-solid;
}
.card > div {
  @apply lg:px-2 py-0 px-[10vh];
}
.send-free-icon {
  @apply flex gap-1;
}
.card-2-header {
  @apply flex justify-between items-center p-[18px] h-[60vw] lg:h-auto border-r-8;
  background: linear-gradient(90deg, #a90f90 55%, #0c1a51 100%); 
}


.div-section-p-3 {
  @apply flex flex-col bg-[white] rounded mx-[164px] my-0;
}
.card-2-header > div {
  @apply text-[white];
}
.card-2-title {
  @apply lg:text-[21px] text-[70px] leading-[70px] lg:leading-none;
}
.card-2-prices {
  @apply pl-2.5 border-l border-solid w-[500px] lg:w-auto;
}
.card-2-body {
  @apply flex flex-col gap-[15px];
}
.card-2-body > hr {
  @apply border opacity-60 border-solid border-[#EBEBEB];
}
.card-2-body-p {
  @apply lg:pt-5 pb-0 px-10 text-[60px] pt-20 lg:text-xs leading-[70px] lg:leading-none;
}

.card-3-text-style {
  @apply lg:text-xs text-[70px] leading-[70px] lg:leading-none
}
.card-3-image-style {
  @apply w-[261px] lg:w-auto
}
.card-7-image-style {
  @apply w-[261px] lg:w-auto
}
.img-1-style {
  @apply w-[1000px] lg:w-auto
}
.hidden-default-text {
  @apply text-[0px] lg:text-[13px];
}
.img-2-style {
  @apply w-[330px] lg:w-auto
}
.img-3-style {
  @apply w-[250px] lg:w-auto
}
.card-2-data {
  @apply lg:grid lg:grid-cols-[repeat(3,1fr)] px-10 py-0 lg:flex-row flex-col;
}
.card-3 {
  @apply flex gap-2.5 items-center px-0 py-[15px];
}
.card-2-footer {
  @apply flex lg:px-10 lg:py-[15px] justify-end;
}
.main-button {
  @apply text-[white] cursor-pointer p-2.5 rounded-[5px] border-[#3483FA] bg-[#3483fa] w-[337px] h-[134px] lg:w-auto lg:h-auto text-[55px] lg:text-xs;
}
.main-button-section-7 {
  @apply text-[white] cursor-pointer p-2.5 rounded-[5px] border-[#3483FA] bg-[#3483fa] w-[500px] h-[134px] lg:w-auto lg:h-auto text-[55px] lg:text-xs;
}
.card-2-prices-original {
  @apply line-through lg:text-[13px] text-[65px] pb-10 lg:pb-0;
}
.default-price-style {
  @apply text-[65px] lg:text-[13px]
}
.iteration {
  @apply text-[50px] lg:text-[13px];
}
.price-iteration {
  @apply flex gap-[5px] items-end;
  
}
.div-section-p-4 {
  @apply flex flex-col bg-[#EDEDED] gap-[15px] mx-[164px] my-0;
}
.card-4-data {
  @apply flex gap-[17px] flex-col lg:flex-row;
}
.size-image-card-4-default {
  @apply w-[500vw] lg:w-auto;
}
.size-second-image-card-4-default {
  @apply w-[75vw] lg:w-auto lg:text-[10px] text-[70px] pt-[64px] lg:pt-0;
}
.info-card-4 {
  @apply lg:text-lg text-[white] text-[70px] pt-20 lg:pt-0;
}
.card-4 {
  @apply relative before:content-[''] before:absolute before:z-[1] before:inset-0;
}
.card-4-int {
  @apply flex gap-4 items-center absolute z-[2] p-2.5 bottom-5;
}
.card-4:before {
  background: linear-gradient(0deg, #081330 0%, rgba(8, 19, 48, 0) 100%);
}
.f-c-10 {
  @apply lg:text-[10px] text-[70px];
}
.div-section-p-5 {
  @apply flex flex-col bg-[#EDEDED] gap-[15px] mx-[164px] my-0;
}
.info-section-5 {
  @apply text-[#4B4B4B] bg-[white] flex flex-col gap-4 p-5;
}
.info-section-5 > button {
  @apply lg:w-[100px] w-[500px] pt-10 lg:pt-0;
}
.title-section-5 {
  @apply lg:text-xs text-[70px];
}
.sub-title-section-5 {
  @apply font-[bolder] lg:text-xl text-[70px] pt-[64px] lg:pt-0 pb-[70px] lg:pb-0;
}
.image-info-section-5 {
  @apply flex items-center bg-[white] rounded-md;
}
.image-info-section-5 > img {
  @apply lg:w-[205px] w-[1049px];
}
.div-card-section-5 {
  @apply lg:grid gap-2.5 lg:grid-cols-[repeat(2,1fr)] flex-col lg:flex-row;
}
.div-section-p-6 {
  @apply flex flex-col bg-[#EDEDED] gap-[15px] mx-[164px] my-0;
}
.title-section-6 {
  @apply font-[bolder] mt-[58px];
}
.sub-title-section-6 {
  @apply lg:text-xs text-[#999999] mb-[34px] text-[70px];
}
.card-5 {
  @apply bg-[white] flex flex-col items-center gap-3.5 relative rounded-lg;
}
.img-card-5 {
  @apply absolute shadow-[2px_2px_2px_1px_rgba(0,0,0,0.1)] rounded-lg top-14;
}
.img-int-card-5 > img {
  @apply border rounded-lg border-solid border-[#EEEEEE];
}
.card-5-all {
  @apply flex gap-3.5 flex-col lg:flex-row;
}
.div-section-p-7 {
  @apply hidden lg:flex lg:flex-col lg:bg-[#EDEDED] lg:gap-[15px] lg:mx-[164px] lg:my-0;
}
.card-6 {
  @apply bg-[white] flex flex-col rounded-lg;
}
.supermarket-images {
  @apply flex gap-2.5;
}
.supermarket-images > div > img {
  @apply rounded-lg;
}
.card-6-all {
  @apply flex justify-between gap-2;
}
.card-6-image-all {
  @apply flex flex-col gap-[5px];
}
.card-6-info {
  @apply flex flex-col justify-center h-full text-[#4B4B4B] p-5;
}
.title-section-7 {
  @apply text-xs;
}
.sub-title-section-7 {
  @apply font-[bolder] text-xl;
}
.title-div-section-7 {
  @apply flex gap-1.5;
}
.title-div-section-7-sec-1 {
  @apply text-xl text-[#666666];
}
.title-div-section-7-sec-2 {
  @apply text-xl text-[#666666] font-[bold] flex after:content-[url("/resources/icons/category\_blue.svg")] after:ml-[3px];
}
.div-section-p-8 {
  @apply flex flex-col bg-[#EDEDED] gap-[15px] mx-[164px] my-0;
}
.card-7 {
  @apply flex bg-[white] flex-col items-center gap-2 p-1.5;
}
.image-7-style {
  @apply w-[500px] lg:w-auto;
}
.card-7-all {
  @apply grid grid-cols-[repeat(7,1fr)] gap-px;
}
.card-7 > div {
  @apply text-center;
}
.footer-info-title-1 {
  @apply font-[bold] text-[#4B4B4B];
}
.footer-info-title-2 {
  @apply text-sm text-[#999999];
}
.card-8 {
  @apply flex flex-col items-center text-center gap-2 p-[22px];
}
.card-8-af-be {
  @apply flex flex-col items-center text-center gap-2 relative p-[22px] after:content-[''] after:h-[30%] after:w-px after:absolute after:bg-[#E2E2E2] after:right-0 after:top-[50px] before:content-[''] before:h-[30%] before:w-px before:absolute before:bg-[#E2E2E2] before:left-0 before:top-[50px];
}
.card-8-more-info {
  @apply text-xs;
}
.card-8-all {
  @apply grid grid-cols-[repeat(3,1fr)] px-[200px] py-[60px] border-b-[#E2E2E2] border-b border-solid;
}
.part-2-footer {
  @apply mt-5 mb-[30px] mx-[164px];
}
.ul-footer {
  @apply gap-5;
}
.ul-footer > li {
  @apply text-sm;
}
.texto-info-footer {
  @apply text-sm text-[#999999];
}
.waring-footer {
  @apply flex gap-[30px] pt-[23px];
}
